<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Online Grocery Store</title>

</head>
<body>
<!-- toolbar-->
  <div class="toolbar">
    <article class="art-toolbar" role="main">
      <div class="img">
        <img src="/assets/Logo.jpg" alt="Logo">
      </div>
      <!-- search-->
      <div class = "input-container" >
        <input class = "search-box" type = "search" name="search" placeholder="Search" id="search">
        <a class ="search-btn" href="#">
          <i class="fa fa-search icon">   </i>
        </a>    
        <!-- shopping cart button-->   
        <a class="shopping-cartBtn">
          <i class="fa fa-shopping-cart fa-7x cart-icon">
          </i>
        </a>     
      </div>
      <div class = "cart">
        <!--no content-->
      </div>
    </article>   
  </div>

  <div class="category-title">
      <h1 class = "head">Category</h1>
  </div>
  <div class= "category-container">
    
    <article class="art-cat-container">
      <!--beverage-->
      <div class= "category-container-row1">
        <a>
        <img class="beverage" src="/assets/beverage.png">
        <h1 class = "category-name">Beverage</h1>
        </a>
      </div>
      <!--Bread-->
      <div class= "category-container-row1">
        <a>
          <img class="bread" src="/assets/bread.png">
          <h1 class = "category-name">Bread</h1>
          </a>
      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>
      <div class= "category-container-row1">

      </div>

    </article>
  </div>


  
</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
